<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="my_bot">

    <xacro:include filename="lidar_core.xacro" />

    <xacro:unless value="$(arg use_ros2_control)">
        <xacro:include filename="gazebo_control.xacro"/>
    </xacro:unless>

    <!-- <xacro:include filename="camera.xacro" /> !-->

    <xacro:include filename="depth_camera.xacro" />

    <xacro:include filename="lidar.xacro" />

</robot>